header
{
	position: relative;
	background-image: url("/images/Montreal-City-Night-Canada.jpg");
	height: 400px;
}	

.header-copyright
{
	position: absolute;
	bottom:0;	
	right:0;
	color:gray;
	font-size: smaller;
}

header[role="banner"] h1
{
	font-size: 190px;
	color: white;
}

article
{
	margin-bottom: 100px;
	margin-top: 100px;
}

a[href*=".eventbrite.ca"]
{
	float: right;
	background-image: url("/images/eventbrite.png");
	width: 187px;
	height: 58px;
	display: block;
	color: transparent;
}

header[role="banner"] h1.scala
{
	-webkit-text-stroke: 2px grey;
}