<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Scala Montréal programming ground" />

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/grid.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/date.css">
    
    <title>Scala Montréal</title>
  </head>

  <body>

    <div id="wrapper">
      <header role="banner" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="640" class="container cover">
        <div class="row">
          <div class="grid_8 offset_2">
            <hgroup>
              <h1 class="scala">Scala</h1>
              <h1>Montréal</h1>
            </hgroup>
          </div>
        </div>
        <span class="header-copyright">© Guillaume Boily</span>
      </header>

      <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
          <h2>Welcome to Scala Montréal</h2>
          <h3>Scala Montreal is moving! Scala Montréal déménage!</h3>
          <p>This blog will not be maintained from now on. Next meetups will be announced on <a href="http://www.meetup.com/Scala-Montreal/">Meetup</a>. The Google group remains active:</p>
          <p>For scala actions, join the <a href="https://groups.google.com/forum/?fromgroups#!forum/scala-montreal">mailing list</a>.</p>
          <p>Ce blog ne sera plus mis à jour à partir de maintenant. Les prochaines rencontres seront annoncées sur <a href="http://www.meetup.com/Scala-Montreal/">Meetup</a>. Le groupe Google reste quant à lui actif:</p>
          <p>Pour être au courrant des dernières nouvelles scala montréal, inscrivez-vous à la <a href="https://groups.google.com/forum/?fromgroups#!forum/scala-montreal">mailing list</a>.</p>
          <h2>Latest News</h2>
          {{ content }}
        </section>
      </div>

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <!--script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script-->
      <script src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.0/jquery.stellar.min.js"></script>
      <script src="javascripts/default.js"></script>
    </div>
  </body>
</html>
